.menu-wrap {
  position: fixed !important;
  top: 2.75rem !important; }

.card {
  border: none; }

.wrap-content {
  position: relative;
  top: 5.5rem; }
  .wrap-content .article {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0.625rem !important;
    padding-bottom: 0.5rem !important; }
    .wrap-content .article .article-user {
      border-left: 1px solid #e8e8e8; }
      .wrap-content .article .article-user h6 {
        margin-top: 0;
        color: #A7A7A7;
        font-size: 0.9375rem;
        padding-bottom: 0.3125rem;
        margin-bottom: 0.625rem;
        border-bottom: 0.0625rem solid #ddd; }
      .wrap-content .article .article-user .article-user-info {
        margin-top: 0.625rem !important;
        margin-bottom: 0.625rem !important; }
        .wrap-content .article .article-user .article-user-info .article-user-info-text {
          margin-left: 0.625rem; }
          .wrap-content .article .article-user .article-user-info .article-user-info-text div:first-child {
            font-weight: bold;
            margin: 7px 0 0 0; }
            .wrap-content .article .article-user .article-user-info .article-user-info-text div:first-child a {
              color: #333; }
              .wrap-content .article .article-user .article-user-info .article-user-info-text div:first-child a:hover, .wrap-content .article .article-user .article-user-info .article-user-info-text div:first-child a:focus {
                color: #0072c6;
                text-decoration: none;
                transition: all .5s ease-out 0s; }
      .wrap-content .article .article-user .article-user-img {
        overflow: hidden;
        width: 3.75rem;
        border-radius: 100%; }
        .wrap-content .article .article-user .article-user-img img {
          -moz-transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -ms-transition: all 1s ease;
          -o-transition: all 1s ease;
          transition: all 1s ease;
          transition: all 1s;
          opacity: 1; }
        .wrap-content .article .article-user .article-user-img img:hover {
          transform: scale(1.1);
          opacity: .9; }
        .wrap-content .article .article-user .article-user-img img {
          width: 100%; }
    .wrap-content .article .article-info li:first-child {
      padding-top: 0; }
    .wrap-content .article .article-info li:last-child {
      border-bottom: none; }
    .wrap-content .article .article-info li {
      color: #999999;
      font-size: 0.8125rem;
      border-bottom: 1px solid #e8e8e8;
      padding-top: 0.625rem;
      padding-bottom: 0.625rem; }
      .wrap-content .article .article-info li h5 {
        color: #262626; }
      .wrap-content .article .article-info li .article-aria .col-4 {
        padding: 0 !important;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
    .wrap-content .article .article-img {
      overflow: hidden;
      padding-left: 0;
      padding-right: 0;
      border-radius: 0.3125rem; }
      .wrap-content .article .article-img img {
        -moz-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        transition: all 1s;
        opacity: 1; }
      .wrap-content .article .article-img img:hover {
        transform: scale(1.1);
        opacity: .9; }
      .wrap-content .article .article-img img {
        width: 100%;
        border-radius: 0.3125rem !important; }
  .wrap-content .details-left {
    padding-left: 0.625rem !important;
    padding-right: 0 !important; }
    .wrap-content .details-left .details-left-card-box {
      padding: 0.1875rem 0.5rem;
      padding-bottom: 0.3125rem;
      margin: 0 0 0.5rem 0 !important; }
      .wrap-content .details-left .details-left-card-box .card-header {
        background-color: #fff;
        margin-top: 0;
        color: #A7A7A7;
        font-size: 15px;
        font-weight: 400;
        padding: 0.625rem 0; }
      .wrap-content .details-left .details-left-card-box .card-body ul li {
        height: 28px;
        overflow: hidden; }
        .wrap-content .details-left .details-left-card-box .card-body ul li a {
          height: 28px;
          line-height: 28px;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: keep-all;
          white-space: nowrap;
          display: block;
          color: #838383; }
      .wrap-content .details-left .details-left-card-box:last-child {
        margin-bottom: 0 !important; }
      .wrap-content .details-left .details-left-card-box:first-child {
        padding: 0 !important; }
        .wrap-content .details-left .details-left-card-box:first-child .card-body {
          padding: 0 !important; }
          .wrap-content .details-left .details-left-card-box:first-child .card-body .input-group {
            border: none; }
            .wrap-content .details-left .details-left-card-box:first-child .card-body .input-group input {
              border-right: none; }
            .wrap-content .details-left .details-left-card-box:first-child .card-body .input-group button {
              color: #333;
              border: 1px solid #ced4da; }
  .wrap-content #editormd-view {
    padding: 0.625rem;
    border-radius: 0.3125rem; }
    .wrap-content #editormd-view .extracted-code {
      border: 0.0625rem dotted #333; }
      .wrap-content #editormd-view .extracted-code li:first-child {
        display: none; }
      .wrap-content #editormd-view .extracted-code li {
        font-size: 1rem;
        margin: 0.3125rem 0; }
        .wrap-content #editormd-view .extracted-code li i {
          border: 0;
          padding: 0.125rem; }
        .wrap-content #editormd-view .extracted-code li span {
          margin-right: 0.625rem; }
